<form class="ui stacked segment inverted black form" action="/station/{{station.id}}/addreading" method="POST">
  <div class="two fields">
    <div class="field">
      <label>Code</label>
      <input placeholder="Code" type="number" name="code">
    </div>
    <div class="field">
      <label>Temperature</label>
      <input placeholder="Temperature" type="number" name="temperature">
    </div>
    <div class="field">
      <label>Wind Speed</label>
      <input placeholder="Wind Speed" type="number" name="windSpeed">
    </div>
    <div class="field">
      <label>Pressure</label>
      <input placeholder="Pressure" type="number" name="pressure">
    </div>
    <div class="field">
      <label>Wind Speed</label>
      <input placeholder="Wind Direction" type="number" name="windDirection">
    </div>
  </div>
  <section class="ui center aligned middle aligned inverted black segment">
  <button class="ui blue submit button">Add Reading</button>
</form>

