<form class="ui stacked segment inverted teal form" action="/dashboard/addstation" method="POST">
  <div class="field">
    <h2 class="ui center inverted aligned middle aligned header">Add Station</h2>
    <label><span class="ui inverted black text">Name</span></label>
    <input placeholder="Name" type="text" name="name">
  </div>
  <div class="field">
            <label><span class="ui inverted black text">Latitude</span></label>
            <input placeholder="0.0000" type="number" step="0.00001" name="lat">
        </div>
        <div class="field">
            <label><span class="ui inverted black text">Longitude</span></label>
            <input placeholder="0.000" type="number" step="0.00001" name="lng">
        </div>
    </div>
  <button class="ui blue submit button">Add Station</button>
</form>
</form>
