{{> welcomemenu }}

<section class="ui blue inverted center aligned middle aligned segment">
    <h1 class="ui white inverted header">
        Weather Station App
    </h1>
    <br><br>
    <section class="ui blue inverted two column middle aligned grid basic segment">
        <div class="column">
            <h2 class="ui white inverted header">Who we are</h2>
            <br>
            <div class="ui white inverted text">
              <span class="ui inverted white text"> <p >The Weather App, an Irish National Meteorological Service, is the leading provider of weather
                    information and related services for Ireland. We provide live Wind, Rain and Temperature readings
                    from across the country.
                    <br><br>
                    Our mission is to monitor, analyse and predict Ireland’s weather and climate and to provide
                    a range of high quality meteorological and related information to the public and to specific
                    customers in, for example, the aviation and agricultural sectors. As a scientific and technical
                    organisation, it strives to utilise the latest technological and scientific advances in order to
                    improve the efficiency, effectiveness and accuracy of its forecasts.
                    <br><br>
                    Met Éireann, the Irish National Meteorological Service, is the leading provider of weather
                    information and related services for Ireland. We provide live Wind, Rain and Temperature readings
                    from across the country.
                </p></span>
            </div>
        </div>
      
        <div class="column">
            <img class="ui image" src="https://www.adorama.com/alc/wp-content/uploads/2017/11/shutterstock_114802408.jpg">
        </div>
    </section>
    <br><br>
  
    <iframe width="650" height="450" src="https://embed.windy.com/embed2.html?lat=52.257&lon=-7.110&detailLat=52.257&detailLon=-7.110&width=650&height=450&zoom=5&level=surface&overlay=wind&product=ecmwf&menu=&message=&marker=&calendar=now&pressure=&type=map&location=coordinates&detail=&metricWind=default&metricTemp=default&radarRange=-1" frameborder="0"></iframe>

  <br><br>
    <section class="ui blue inverted three column middle aligned grid basic segment">
        <div class="column">
            <img class="ui large image" src="https://www.adorama.com/alc/wp-content/uploads/2017/11/shutterstock_114802408.jpg">
        </div>
        <div class="column">
            <img class="ui large image " src="https://news.mit.edu/sites/default/files/images/201201/20120113095712-1.JPG">
        </div>
        <div class="column">
            <img class="ui large image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTn3nA5m22i70W0PR3oNpUErg2u_83WTGQxCA&usqp=CAU">
        </div>

        <div class="ui inverted blue left aligned middle aligned segment">
           <span class="ui inverted white text"> <h2>Our Goals</h2>
            <ul>
                <li>Enhance support for impact-based decision making for weather events</li>
                <li>Provide climate information services which promote the safety of citizens
                    and supports economic and environmental resilience
                </li>
                <li>Deliver a high quality national flood forecasting service</li>
                <li>Continue to provide an effective authoritative voice on meteorology in Ireland</li>
                <li>Maintain and support an expert, professional workforce</li>
                <li>Lead a modern, integrated meteorological infrastructure and support an enterprise environment for
                    weather and climate services
                </li></span>
            </ul>
        </div>
      
      
</section>
  
  
  <h1 class="ui white inverted header">
        Weather From Around The Country
    </h1>
  <a class="weatherwidget-io" href="https://forecast7.com/en/53d35n6d26/dublin/" data-label_1="DUBLIN" data-label_2="WEATHER" data-theme="original" >DUBLIN WEATHER</a>
<script>
!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');
</script> 
  
  <br>
  
  <a class="weatherwidget-io" href="https://forecast7.com/en/51d99n8d73/cork/" data-label_1="CORK" data-label_2="WEATHER" data-theme="original" >CORK WEATHER</a>
<script>
!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');
</script>
  
  <br>
  
  <a class="weatherwidget-io" href="https://forecast7.com/en/52d19n7d62/waterford/" data-label_1="WATERFORD" data-label_2="WEATHER" data-theme="original" >WATERFORD WEATHER</a>
<script>
!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');
</script>