{{> menu}}

<section class="ui segment">
  <h2 class="ui huge header aligned violet header">
    {{station.name}}
  </h2>

    {{> stationCards}}
    {{> listreadings}}
    {{> addreading}}
</section>